body{
    width: 100%;
}

section{
    z-index: 1;
    margin: 0 auto;
    max-width: 1200px;
}

h1{
    padding: 10px;
    text-align: center;
}

.sub-nav-container{
    text-align: center;
    padding: 15px 0px 15px 0px;
}

.card{
    border-radius: 2%;
    margin: 0px 25px 0px 25px;
    padding:10px;
    box-shadow: 5px 5px 5px rgba(29, 3, 3, 0.301);
    background-color: #fff;
}

.card-picture{
    display: none;
}

.even-container{
    background-color: $lightened-tertiary;
    padding: 25px;
}

.odd-container{
    background-color: $lightened-secondary;
    padding: 25px;
}

/* Join us Page*/

.join-us-card{
    border-radius: 3.5%;
    margin: 10px 30px 40px 30px;
    padding: 25px;
    box-shadow: 5px 5px 5px $tertiary-color;
}

@media all and (min-width : 950px){

    .sub-nav-container{
        display: flex;
        justify-content: space-around;
    }

    .card{
        box-shadow: 5px 5px 5px rgba(29, 3, 3, 0.301);
        max-width: 400px;
        background-color: #fff;
    }

    .odd-container{
        background-image: url(../../images/eye-device.jpg);
        height: 500px;
        background-size:cover;
        background-repeat: no-repeat;
        padding: 25px;

    }

    .even-container{
        padding: 50px 25px 50px 25px;

        .card{
            margin: auto;
            max-width: 600px;
        }
    }
}