body{
    width: 100%;
}

section{
    z-index: 1;
    margin: 0 auto;
    max-width: 1200px;
}

h1{
    padding: 10px;
    text-align: center;
}

.card{
    border-radius: 2%;
    margin: 10px 25px 40px 25px;
    padding:10px;
    box-shadow: 5px 5px 5px $tertiary-color;
}

.card-picture{
    display: none;
}

.even-card{
    background-color: $lightened-tertiary;
}

.odd-card{
    background-color: $lightened-secondary;
}

/* Join us Page*/

.join-us-card{
    border-radius: 3.5%;
    margin: 10px 30px 40px 30px;
    padding: 25px;
    box-shadow: 5px 5px 5px $tertiary-color;
}

@media all and (min-width : 950px){

    .odd-card{
        background-color: #fff;
    }

    .even-card{
        background-color: #fff;
    }

    .container{
        margin-top: 100px;
        display: flex;
        justify-content: space-around;

        

        .card-picture{
            overflow: hidden;
            display: block;
            border-radius: 2%;
            max-width: 400px;

            img{
                object-fit: cover;
            }
        }
    }
}