header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 50px;
    margin-bottom: 30px;
    max-height: 150;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.247);

}
