nav{
    display: flex;
    justify-content: space-around;

    a{
        padding-bottom: 5px;
        margin: 0px 10px 0px 10px;
    }
}

@media all and (min-width : 950px){
    nav{
        justify-content: right;
        padding-top: 40px;

        a{
            margin: 0px 50px 0px 50px;
            font-size: 1.3rem;
            font-weight: 500;
        }
    }
}