nav{
    display: flex;
    justify-content: space-around;

    a{
        padding-bottom: 5px;
        margin: 0px 10px 0px 10px;
    }
}

@media all and (min-width : 950px){
    nav{
        justify-content: right;

        a{
            margin: 0px 20px 0px 20px;
        }
    }
}