a{
    text-decoration: none;
    color: black;
}

footer{
    color: white;
}

h1{
    font-size:1.3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

h2{
    margin-bottom: 15px;
    font-size: large;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}

p{
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 400;
}

li{
    font-size: 1.2rem;
    font-weight: 400;
}

@media all and (min-width : 950px){
    h1{
        font-size: 2.5rem;
        margin-bottom: 70px;
    }

    button{
        font-size: 1.2rem;
        font-weight: 400;
    }
}