@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');


/* fonts */

$main-font: 'Dosis', sans-serif;

/* colors */

$primary-color: #2782be;
$secondary-color : #87caf7;
$tertiary-color: #43d5cb;
$footer-bgc: #242626;

$lightened-tertiary: lighten($tertiary-color, 5%);
$lightened-secondary: lighten($secondary-color, 5%);
$lightened-primary:lighten($primary-color, 5%);

$button-color: linear-gradient(to bottom, $secondary-color ,$primary-color);
$lightened-button-color:linear-gradient(to bottom, $lightened-secondary, $lightened-primary);
